<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="" class="navbar-brand">KartaPacjenta</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserAdmin()" routerLink="/all-books" class="nav-link">Admin Site</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/all-books" class="nav-link">Patients</a></li>
      <li><a  *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a  *ngIf="!loginService.isUserLoggedIn()" routerLink="/register" class="nav-link">Register</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Log Out</a></li>
      <li><a href="http://krisczarservice.herokuapp.com/swagger-ui.html#/" class="nav-link">Open API</a></li>
      <li><a href="https://trunk-kartapacjentaservice.herokuapp.com/api/users/test" class="nav-link">Click here to import some users</a></li>
    </ul>

  </nav>
</header>
